*{
	margin:0px;/* toujours a faire pour prendre la main*/
	padding: 0px;
}
ul{
	list-style-type: none;/* pas de puce */
}
a {
	text-decoration: none;/* pas de soulignement*/
}
body{
	background-image:url(images-travel/bandeau-haut.jpg);
	background-repeat: repeat-x;	
}
#page {
	max-width: 1101px;
	width: 100%;
	margin:0 auto;	
}
#menuhaut {
	width: 100%;
}
#menuhaut ul{
	display: flex;
	padding-top: 10px;
}
#page #menuhaut ul li{/*nouveau*/
	padding: 1px 2% 1px 2%;
	border-right: 2px solid white;
}
#page #menuhaut ul li:nth-child(4){
    border: none;
}
#page #menuhaut ul li a{
    width:100%;
   color: white;
}
#page #menuhaut ul li.client{
    text-align: right;/*la ligne client a droite*/
    width:51%;
    border: none;
}
#bandeau{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
}
#menuprincipal ul{
	display: flex;
	justify-content: space-between;
	padding-right: 20%;
	padding-left: 20%;
}
/* pour le menu*/
/*#menuprincipal ul li{/* surtout mettre cette position sur le li
	pour mettre un sousmenu*/
	/*position:relative;*/

#menuprincipal ul li a:hover{
color: #d5a66f;}
#menuprincipal ul li a.choix{
	color:  #d5a66f;
	border-bottom: 4px dotted black;
}
#menuprincipal a{
		color:black;
		font-weight: bold;
}



/*  sous menu */
/*on indique sous menu*/
/*------------sousmenu responsive----*/
#menuprincipal .sousmenu{/*sous menu*/
	display:none;
}
#menuprincipal input[type=checkbox]{/*cacher le menu*/
	/*pas d'espace entre input et []*/
	display: none;
}
.menu-mobile{/*cacher le menu*/
	display: none;
}

#menuprincipal ul li:hover .sousmenu{/*sous menu*/
	display:block;
	position:absolute;
	top:100%;
	left:-30px;
	z-index:1000;
	}
#menuprincipal .sousmenu li {/*sous menu*/
	border: none;

}
#menuprincipal .sousmenu li a{/*sous menu*/
		display: block;
		width: 150px;
		text-align: left;
		padding: 10px 0 0 10px;
}
/* quand l'internaute clique sur le bouton on affiche le menu*/
#menuprincipal input[type=checkbox]:checked~ ul{
	display: block;
}

/*------------fin menu-----------------*/


/* ne pas prendre avant  juste pour avoir la meme chose que index principal*/

#sejourcontenu {/*c'est le contenu de la page*/
	width: 100%;
}
#envoi {/* c'est pour le slider*/
	width: 100%;
}
#envoi #slider{/* taille des photos du slider*/
	width: 70%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#sejourcontenu #envoi  img{
	width: 60%;

}
#fond{/* navigation */
	background-color:#e1e4cf;
	display: flex;
	justify-content: space-between;
	padding: 30px 10% ;
	border-radius: 10% ;
	margin: 10px 2%;
}
/*  ---------------- pour le menu de destination--------------*/

#menu-dest, #menu-dest ul {
list-style: none;/*pas de point devant*/
}
/*pour annuler les flottements*/
#menu-dest:before,
#menu-dest:after {
content: "";
display: table;
}
#menu-dest:after {
clear: both;
}
 #menu-dest {
zoom:1;
}
/*Les elements de listes*/
#menu-dest li {
float: left;
border-right: 0px solid #222;
box-shadow: 0px 0 0 #444;
position: relative;
}
 #menu-dest a {
float: left;
padding: 12px 30px;
color:#ffffff;/* couleur blanche des textes*/
text-transform: uppercase;
font: bold 12px Arial, Helvetica;
text-decoration: none;
text-shadow: 0 1px 0 #000;
/*padding: 7px 1% 0 1%;*/
	border: 1px solid #3c3c3c; 
	background-color: #cda478;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #777;
}
 #menu-dest li:hover > a {
color: #fafafa;/*couleur blanche*/
}
*html   #menu-dest li a:hover { /* IE6 only */
color: #fafafa;/*couleur blanche*/
}
/*les sous menus*/
#menu-dest ul {
margin: 20px 0 0 0;
_margin: 0; /*IE6 only*/
opacity: 0;
visibility: hidden;
position: absolute;
top: 38px;
left: 0;
z-index: 9999;/*defini le (z-order, 
l'ordre des différentes couches que formeront l'élément),
d'un élément positionné et de ses éléménts fils ou de ses 
éléments flexibles*/
background: linear-gradient(#444, #111);
box-shadow: 0 -1px 0 rgba(255,255,255,.3);
border-radius: 3px;
/*apporte un coter transparent */
transition: all .2s ease-in-out;
}
#menu-dest li:hover > ul {
opacity: 1;
visibility: visible;
margin: 0;
}
#menu-dest ul ul {
top: 0;
left: 150px;
margin: 0 0 0 20px;
_margin: 0; /*IE6 only*/
box-shadow: -1px 0 0 rgba(255,255,255,.3);/*pas de couleur*/
}
#menu-dest ul li {
float: none;
display: block;
border: 0;
_line-height: 0; /*IE6 only*/
box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}
#menu-dest ul li:last-child {
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}
#menu-dest ul a {
padding: 10px;
width: 130px;
_height: 10px; /*IE6 only*/
display: block;
white-space: nowrap;
float: none;
text-transform: none;
}
#menu-dest ul a:hover {
background-color: #c4a177;
background-image: linear-gradient(#b28e63, #c4a177);
}


/*7*/
$(function() {
if ($.browser.msie && $.browser.version.substr(0,1)<7)
{
$('li').has('ul').mouseover(function(){
$(this).children('ul').css('visibility','visible');
}).mouseout(function(){
$(this).children('ul').css('visibility','hidden');
})
}
})


/*  ---------------fin menu de destination--------------*/
/* -----------debut nombres--------------*/

#menupersonne, #menupersonne ul {
list-style: none;/*pas de point devant*/
}
/*pour annuler les flottements*/
#menupersonne:before,
#menupersonne:after {
content: "";
display: table;
}
#menupersonne:after {
clear: both;
}
 #menupersonne {
zoom:1;
}
/*Les elements de listes*/
#menupersonne li {
float: left;
border-right: 0px solid #222;
box-shadow: 0px 0 0 #444;
position: relative;
}
 #menupersonne a {
float: left;
padding: 12px 30px;
color:#ffffff;/* couleur blanche des textes*/
text-transform: uppercase;
font: bold 12px Arial, Helvetica;
text-decoration: none;
text-shadow: 0 1px 0 #000;
/*padding: 7px 1% 0 1%;*/
	border: 1px solid #3c3c3c; 
	background-color: #cda478;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #777;
}
 #menupersonne li:hover > a {
color: #fafafa;/*couleur blanche*/
}
*html   #menupersonne li a:hover { /* IE6 only */
color: #fafafa;/*couleur blanche*/
}
/*les sous menus*/
#menupersonne ul {
margin: 20px 0 0 0;
_margin: 0; /*IE6 only*/
opacity: 0;
visibility: hidden;
position: absolute;
top: 38px;
left: 0;
z-index: 9999;/*defini le (z-order, 
l'ordre des différentes couches que formeront l'élément),
d'un élément positionné et de ses éléménts fils ou de ses 
éléments flexibles*/
background: linear-gradient(#444, #111);
box-shadow: 0 -1px 0 rgba(255,255,255,.3);
border-radius: 3px;
/*apporte un coter transparent */
transition: all .2s ease-in-out;
}
#menupersonne li:hover > ul {
opacity: 1;
visibility: visible;
margin: 0;
}
#menupersonne ul ul {
top: 0;
left: 150px;
margin: 0 0 0 20px;
_margin: 0; /*IE6 only*/
box-shadow: -1px 0 0 rgba(255,255,255,.3);/*pas de couleur*/
}
#menupersonne ul li {
float: none;
display: block;
border: 0;
_line-height: 0; /*IE6 only*/
box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}
#menupersonne ul li:last-child {
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}
#menupersonne ul a {
padding: 10px;
width: 130px;
_height: 10px; /*IE6 only*/
display: block;
white-space: nowrap;
float: none;
text-transform: none;
}
#menupersonne ul a:hover {
background-color: #c4a177;
background-image: linear-gradient(#b28e63, #c4a177);
}


/*7*/
$(function() {
if ($.browser.msie && $.browser.version.substr(0,1)<7)
{
$('li').has('ul').mouseover(function(){
$(this).children('ul').css('visibility','visible');
}).mouseout(function(){
$(this).children('ul').css('visibility','hidden');
})
}
})


/*-------------fin nombre-----------------*/

#fond #personnes{/*mais ca ne fonctionne pas ????*/
	
}

#personnes label{
	float: left;
padding: 12px 30px;
color:#ffffff;/* couleur blanche des textes*/
text-transform: uppercase;
font: bold 12px Arial, Helvetica;
text-decoration: none;
text-shadow: 0 1px 0 #000;
padding: 7px 1% 0 1%;
	border: 1px solid #3c3c3c; 
	background-color: #cda478;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #777;
}


#calendrier{
	padding: 13px 1% 0 1%;
	border: 1px solid #3c3c3c; 
	background-color: #cda478;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #777;
}



.bouton{
	padding: 13px 1% 0 1%;
	border: 1px solid #3c3c3c; 
	background-color: #cda478;
	border-radius: 6px;
	box-shadow: 1px 1px 1px #777;
}
#reve{
	width:100%;
	padding:1%;
	display: flex;
	justify-content: space-between;
}

#reve  #coeur{
	width:90%;
	min-width: 28%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 5%;

	/*background-color: blue;*/
}

#reve #coeur legend{
	text-transform: uppercase;
}


#reve .coupcoeur{
	margin: 10px 1% 5px 1%;
	width: 30%;
	border: 1px solid black;/* bordure intérieur coup de coeur*/
}
#reve .coupcoeur legend{ /*pays*/
	text-align: center;
}
#reve .coupcoeur p{ /* jours et prix*/
	display: flex;
	justify-content: space-around;
}

#reve .coupcoeur img{ /*image*/
	width: 100%;

}

#reve .coupcoeur .info{/* bandeau sous les photos*/
	position: absolute;
	color: white;
	text-align: center;
	bottom: 0;
	width: 100%;
	line-height: 30px;
	background: rgba(0,0,0,0.2);
}
#coeur .blocsejour a{
	text-align: right;
}
.blocsejour a{
	color:black;
	text-align: right;
}


#reve #coeurdroit{ /* interieur du cadre*/
/*	width: 30%;*/
margin-right: 10%;
min-width: 20%;

}

#reve #destination{
	margin-top: 25px;
	align-items: flex-top;
}

#destination {
	border:1px  solid black;
	margin-bottom: 20px;
}
#destination h3{
	background-color: #c3a26c;
	text-align: center;
}

#destination p{
	font-weight: bold;
	text-align: center;
}


#client{
	/*width: 30%;*/
border: 1px solid black;
max-height: 240px;
}
#client h3{
	background-color: #c3a26c;
	text-align: center;

}
 #client img{
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	padding: 10px 0 10px 0;
	max-width: 80%;
}
#hotel{
	margin-top: 20%;
border: 1px solid black;
max-height: 350px;
}
#hotel h3{
	background-color: #c3a26c;
	text-align: center;

}
 #hotel img{
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	padding: 10px 0 10px 0;
	max-width: 80%;
}



















/*=========== modif du slider ====*/

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:300px;
	top:200px;/*bottom:0*/;
	background:transparent;
	color:white;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	font-size: 50px;
	font-family: 'megan_juneregular';
	padding:5px;
	margin:0;
}
.nivo-caption p .titreslide{
	font-size: 100px;
	letter-spacing:10px;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {/*Erreur lors de l'analyse grammaticale. */
    display:none;
}
